body{
    font-family:'open sans', sans-serif;
}

#container{
    widows: 1000px;
    height:550px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('image/img.jpg');
    margin:20px auto;
    background-repeat: no-repeat;
    background-size:cover;
}

#calculator{
    width:320px;
    height:520px;
    background-color:#eaedef;
    margin:0 auto;
    top:20px;
    position:relative;
    border-radius:5px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result{
    height:120px;
}

#history{
    text-align:right;
    height:20px;
    margin:0 20px;
    padding-top:20px;
    font-size:15px;
    background-color: #d4d3d3;
    color:#302f2f;
}

#output{
    text-align:right;
    height:60px;
    margin:10px 20px;
    font-size:30px;
    color: #111111;
}

#keyboard{
    height:400px;
}

.operator, .number, .empty{
    width:50px;
    height:50px;
    margin:15px;
    float:left;
    border-radius:50%;
    border-width:0;
    font-weight:bold;
    font-size:15px;
}

.number, .empty{
    background-color:#eaedef;
}

.number, .operator{
    cursor:pointer;
}

.operator:active, .number:focus, .empty:focus{
    outline:0;
}

button:nth-child(4){
    font-size:20px;
    background-color:#9477af;
}

button:nth-child(8){
    font-size:20px;
    background-color:#ee4bbd;
}
button:nth-child(12){
    font-size:20px;
    background-color:#57f369;
}
button:nth-child(16){
    font-size:20px;
    background-color:#f1e429;
}
button:nth-child(18){
    font-size:20px;
    background-color:#4ccff3;
}
/* button:nth-child(19){
    font-size:20px;
    background-color:#403ae4;
} */

button:nth-child(20){
    font-size:20px;
    background-color:#f13e56;
}